* {
    box-sizing: border-box;
}
a:link,
a:hover,
a:visited,
a:active,
a:focus,
a:focus-visible {
    text-decoration: none;
}

/* 
Loading spinner 
*/
.loading {
    padding: 10%;
    text-align: center;
    width: 100%;
    height: 100%;
}
@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.loading .spin::before {
    animation: 0.9s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 1.9rem lightcyan;
    border-bottom-color: dodgerblue;
    border-radius: 50%;
    content: '';
    height: 16rem;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    width: 16rem;
    will-change: transform;
}

/* 
TODO: nothing found message 
*/
.nothing-found {
    text-align: center;
}

/* 
    Main page divisions 
*/

.page {
    height: 100vh;
    /*width: 100vw;*/
    padding-top: 90px;
    background-color: rgb(206, 26, 26);
    grid-template-areas:
        'content'
        'footer';
    grid-template-rows: 20fr 1fr;
    display: grid;
}
.content {
    background-color: blueviolet;
    grid-area: 'content';
    height: 100%;
    width: 100%;
    display: inline-block;
}
.footer {
    grid-area: 'footer';
    background-color: mediumaquamarine;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.navigation {
    overflow: hidden;
    background-color: rgb(153, 205, 50);
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
}
.nav-item,
.nav-item-selected {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    height: 100%;
    font-size-adjust: 40px;
}
.nav-item:hover {
    background: whitesmoke;
    color: yellowgreen;
}
.nav-item-selected,
.nav-item-selected:focus {
    background: rgb(6, 48, 120);
    color: yellowgreen;
}

/* Movie grid */
.canvas {
    background: rgb(255, 255, 255);
    grid-area: 'content';
}
.grid {
    display: grid;
    box-sizing: border-box;
    padding: 2rem 1.2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem 1rem;
}
.cell {
    background-color: lightgray;
    /*border config*/
    border-color: black;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.1rem;
    padding: 1rem;

    font-size: 3fr;
    text-align: center;
}
.cell img {
    max-height: 90%;
}

/* Genres selector */
.cm-toggle {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 10px;
    width: 100%;
    height: 100%;
}
.cm-toggle:after {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgb(255, 255, 255);
    border-radius: 0%;
    clear: both;
}

.filters {
    background-color: aliceblue;
    /*evenly space*/
    display: table;
    width: 100%;
    table-layout: auto;
    /*border config*/
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
}
.genre {
    /*stack horizontaly*/
    display: table-cell;
    text-align: center;
    /*border config*/
    border-color: lightslategray;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.1rem;
}

/* Movie search */
.search-results {
    background-color: white;
    display: inline-block;
    grid-area: 'content';
    height: 100%;
    width: 100%;
}
.search-bar-frame {
    display: block;
    padding: 10px 10px;
}
.search-bar {
    border: 2.4px solid lightblue;
    border-radius: 10px;
    height: 40px;
    width: 50%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: whitesmoke;
    display: block;
    margin: 0 auto;
}
.search-bar:hover,
.search-bar:focus {
    border: 1.8px solid #0978ff;
    background-color: rgb(255, 255, 255);
}

/* Movie about */

.movie-about {
    background-color: gainsboro;
}
.movie-about .title {
    text-align: center;
}
.movie-about .backdrop {
    background-color: black;
}
.movie-about .backdrop img {
    margin: auto;
    display: block;
    width: 50%;
}
.movie-about .about {
}
